{% extends "clarityviz/header.html" %}

{% block content %}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Select File</h1>
            <hr>
            <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
            <div class="row">
                <div class="col-xs-6 col-md-4"></div>
                <div class="col-xs-6 col-md-4">
                    <!--<label for="myFile">Upload a File</label>-->
                    <!--<form action="/file-upload" class="dropzone" method="post" enctype="multipart/form-data" id="myFile">-->
                    <!--</form>-->
                    <!--<input class="btn btn-default" type="submit" value="Submit">-->

                    <!--<h2>OR</h2>-->

                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label>{{ field.label_tag }}</label>
                                <div class="form-input">{{ field }}</div>
                                <!--<input type="text" class="form-control" id="token" name="token" placeholder="Token,Orientation">-->
                            </div>
                        {% endfor %}
                        <!-- Token name: <input type="text" name="myToken"/><br /> -->
                        <input class="btn btn-default" type="submit" name="tokenButton" value="Submit">
                    </form>
                </div>
                <div class="col-xs-6 col-md-4">
                    <h3>Example</h3>
                    <p>Token: s3617_to_ara3 <br> Bucket: clviz-bucket <br> Num points: 3000</p>
                </div>
            </div>
            <hr>
            <p>This should take about 20 minutes to run. <br> Detailed instructions can be found below.</p>
        </div>
    </div>
</header>

<body>
<section id = "other"> <div class = "container"><div class="col-lg-8 col-lg-offset-2 text-center">
    <p><b>Token</b> is the token of the brain to retrieve from <a href="http://docs.neurodata.io/ndstore/">ndstore</a>.</p>
    <p><b>Bucket</b> is the aws S3 bucket to save the outputs to.</a></p>
    <p><b>Num Points</b> is the number of points to be represented in the plots.  The lesser the number of points, the faster each graph loads.</p>
    <p><b>Access key id</b> is your aws access key id.</p>
    <p><b>Secret access key</b> is your aws secret access key.</p>
</div></div></section>
</body>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Detailed Instructions</h2>
                <hr class="light">
                <p class="text-faded">
                <ul>
                    <li>Input your token, s3 bucket, and number of points in the corresponding text boxes.</li>
                    <li>Press enter and the web service will take approximately 20-30 minutes to process.  The processing is all done through aws batch, and will upload the results to the specified s3 bucket when done, and the results will be viewable then.</li>
                    <li>In the details page for each submission, you will find links that you can click on to download the corresponding file.</li>
                    <li>If you wish to process another token, just go to the compute page again and fill in the form again.
                </ul> </p>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>If you spot a bug or have any issues please submit an issue on our github page <a href="https://github.com/NeuroDataDesign/seelviz/issues" >here</a>! Alternatively you can shoot us an email!</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:clarityviz@jhu.edu">clarityviz@jhu.edu</a></p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
