{% extends "clarityviz/header.html" %}

    {% block content %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 class="section-heading">Log</h1>
                <hr>
                <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Token</th>
                        <th>Orientation</th>
                        <th>Num Points</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% if all_computes %}
                            {% for compute in all_computes %}
                            <tr>
                                <td><a href="{% url 'clarityviz:output' compute.pk %}">{{ compute.token }}</a></td>
                                <!--<td><a href="{% url 'clarityviz:output' compute.pk %}">{{ compute.orientation }}</a></td>-->
                                <!--<td><a href="{% url 'clarityviz:output' compute.pk %}">{{ compute.num_points }}</a></td>-->
                                <td>{{ compute.orientation }}</td>
                                <td>{{ compute.num_points }}</td>
                            </tr>
                            <!--<li><a href="{% url 'clarityviz:output' compute.pk %}">{{ compute.token }} (Orientation: {{ compute.orientation }}) (Num Points: {{ compute.num_points }})</a> </li>-->
                            {% endfor %}
                        {% else %}
                            <p>No analyses Done.</p>
                        {% endif %}
                    </tbody>
                </table>


            </div>
        </div>
    </header>

    <!--<body>-->
        <!--<section class="bg-graph" id="about">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
                        <!--<h2 class="section-heading">Log</h2>-->

                        <!--{% if all_computes %}-->
                            <!--{% for compute in all_computes %}-->
                            <!--<li><a href="{% url 'clarityviz:output' compute.pk %}">{{ compute.token }} (Num Points: {{ compute.num_points }})</a> </li>-->
                            <!--{% endfor %}-->
                        <!--{% else %}-->

                        <!--{% endif %}-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->
    <!--</body>-->
    {% endblock %}